
/*SECTION HEADER*/
@overlay: rgba(20,20,20,1);
@overlay2:rgba(20,20,20,0.7);
@white-color:#fff;
@black-color:rgb(17, 17, 17);

body{
	background-color:@black-color;
}

.sidenav {
    position: fixed;
    width: 80vw;
    max-width: 300px;
    height: 100vh;
    padding-top: 40px;
    color: white;
    background-color: #444344;
    transition: transform 0.5s ease-in-out;
    -webkit-transition:transform 0.5s ease-in-out;
    transform: translateX(-100%);
    -webkit-transform:translateX(-100%);
    z-index:10000;
}

.sidenav.open {
    transform: translateX(0);
    -webkit-transform:translateX(0);
}

.sidenav a {
    color: white;
    text-decoration: none;
}

.sidenav li {
    padding: 20px;
    margin-bottom: 1px;
    list-style: none;
}

.sidenav li:hover {
    background-color: #222;
}

.sidenav li.active {
    background-color: #393839;
}

.sidenav .hamburger, .sidenav .hamburger:after, .sidenav .hamburger:before {
    content: "";
    height: 4px;
    width: 25px;
    background-color: #757575;
    display: block;
    clear: both;
    position: absolute;
    border-radius: 3px;
    top: 9px;
    right: -35px;
    transition: all 0.3s ease-in-out 0.3s;
}

.sidenav .hamburger:before {
    position: relative;
    top: 14px;
    right: 0;
}

.sidenav .hamburger:after {
    position: relative;
    top: 3px;
    right: 0;
}

.sidenav.open .hamburger, .sidenav.open .hamburger:after, .sidenav.open .hamburger:before {
    background-color: white;
    right: 10px;
}

.sidenav.open .hamburger {
    transform: translateY(6px) rotate(-45deg);
}

.sidenav.open .hamburger:before {
    right: 0;
    transform: translateY(-14px) rotate(90deg);
}

.sidenav.open .hamburger:after {
    right: 0;
    transform: translateY(-7px) rotate(45deg) scale(0) ;
}

.size{
	width:100%;
	height:100vh;
}
.intro{
	.size;
}
.intro .container{
	.size;
}
.intro > .container > .row{
	margin:0;
	display:flex;
	justify-content:center;
	align-items:center;
	width:auto;
	height:100%;
}

.overlay{
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 10;
	background:linear-gradient(to right, @overlay, @overlay2);
	background:-webkit-linear-gradient(to right, @overlay, @overlay2);
	background:-moz-linear-gradient(to right, @overlay, @overlay2);
}
.line-separator{
	height:1px;
	background:@white-color;
	width:10em;
	margin-left:-3em;
}

#intro-text{
	z-index:100;
}

/*Text of intro section*/
#intro-text h1,p,h5{
	color:@white-color;	
}

.sizeh5 (@size: 1rem) {
	font-size:@size;
}

.sizep (@size:0.8rem;){
	font-size:@size;
	font-family: 'Open Sans', sans-serif;
}
.sizeh1 (@size:3rem;){
	font-size:@size;
	font-family: 'Arvo', serif;
}

#intro-text h5{
	.sizeh5;
}

#intro-text p{
	.sizep;
}

#intro-text h1{
	.sizeh1;
}



/*Section about us*/
.about-us{
	width:100%;
	background:rgb(17, 17, 17);
}

.overlay-text{
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
	display:flex;
	justify-content:center;
}

.overlay-text h1{
	text-align:center;
	font-weight:bolder;
	font-size:250px;
	color:black;
}

#about-div{
	z-index:10;
	margin-top:10%;
}

.about-us .container{
	width:50%;
	height:100%;
}
.about-us > .container > .row{
	margin:0;
	width:auto;
	height:100%;
}

.img-about{
	width:50%;
	z-index:10;
}

#about-text {
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	margin-top:3em;
	z-index:10;
}

#about-text p{
	font-size:15px;
	text-align:center;
	line-height:30px;

}
#about-text h1{
	.sizeh1;
	color:@white-color;
}




/*WORKS*/

.works .row {
	margin:0;
	background:@black-color;
	padding-top:10%;
	padding-bottom:6%;
}

.sidenav{
	display:none;

}
 .works-text p {
 	font-size:12px;

 }
 .works-text {
 	flex-direction:column;
 	justify-content:flex-end;
 	width:50%;
 }

 .gallery-photos{
 	padding-top:0!important;
 }
 .gallery-photos img{
 	object-fit:cover;
 	width: 100%;
	height: 100%;
 }
  .gallery-photos .item{
 	
 	padding:0!important;
 }

 .overlay-info{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(17,17,17,0.9);
 }
 .overlay-info .row{
 	padding-top:0;
 	background-color:transparent;
 }
 .overlay-info .info{
 	display:flex;
 	flex-direction:column;
 	padding:10px;
 }
 .info h5{
 	font-size:0.6rem;
 	text-transform:uppercase;
 }
  .info p{
  	font-size:0.5rem;
  }
 .item:hover .overlay-info{
 	opacity:1;
 }

 /*TESTIMONIALS*/
 .testimonials{

 	background:@black-color;
 }
 .testimonials .row{
 	padding-top:10%;
 }
 .heading-1{
  position:relative;
  text-align: center;
  color:@white-color;
  font-family: 'Arvo', serif;
      display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heading-1:before {
  content: "";
  display: block;
  border-top: solid 20px rgb(83, 39, 254);
  width: 30%;
  height: 2px;
  position: absolute;
  top: 40%;
  z-index: 0;
  
}
.heading-1 span {
 
  padding: 0 5px;
  position: relative;
  z-index: 1;
}
.heading-1 p{
	font-size:12px;
	font-family:'Open Sans', sans-serif;
	z-index:1;
}

.head-section{
	.sizeh1;
	color:@white-color;
	text-align:center;
}

/*PRICING*/
.pricing {
	background-color: @black-color;
}
.pricing .row{
	margin:0;
	padding-top:10%;
}


.product-one{
	background:url('../img/one.jpg');
	background-size:cover;
}

.product-one h5, h2, p{
	z-index:10;
	position:relative;

}

.product-two h5, h2, p{
	z-index:10;
	position:relative;

}

.product-three h5, h2, p{
	z-index:10;
	position:relative;

}

.product-four h5, h2, p{
	z-index:100;
	position:relative;

}


.product-two{
	background:url('../img/two.jpg');
	background-size:cover;
}

.product-three{
	background:url('../img/three.jpg');
	background-size:cover;
}

.product-four{
	background:url('../img/four.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}

.overlay-pricing{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
	z-index: 0;
	background:rgba(17,17,17,0.7);
}

.pricing-link{
	text-decoration:none;
	color:@white-color;

}

/*PARTENESS*/
.partness .container{
	width:50%;
}
.partness .container .row{
	padding-top:20%;
	padding-bottom:20%;
}
.partness .container .row .col-md-3 {
	padding-bottom:5%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.partness .container .row .col-md-3 img {
	width:70%;
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
}



/*sign out*/
.sign-up .container{
	width:50%;
}
.sign-up .container .row{
	margin-bottom:25%;
}
.input-group{
	width:50%!important;

}

.form-sign{
	display:flex;
	justify-content:center;
}

.vertical-separator{
	border:1px solid white;
	height:8em;
	width:0;

}

.input-group input{
	border-radius:0!important;
	background-color:transparent;
	border-left:1.5px solid #757575;
	border-top:1.5px solid #757575;
	border-bottom:1.5px solid #757575;
	width:25px;
}
.btn-send{
	border-radius:0;
	background-color:transparent;
	border-left:1.5px solid #757575;
	border-right:1.5px solid #757575;
	border-top:1.5px solid #757575;
	border-bottom:1.5px solid #757575;
	color:#757575;
}

footer{
	position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: @black-color;
}

footer h5{
	font-size:15px;
	font-weight:bold;
	font-family: 'Arvo', serif;
	text-transform:uppercase;
}
footer p{
	font-size:12px;
	line-height:25px;
}

 .heading-2{
  position:relative;
  text-align: center;
  color:@white-color;
  font-family: 'Arvo', serif;
      
}
.heading-2:before {
  content: "";
  display: block;
  border-top: solid 20px rgb(83, 39, 254);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 60%;
  z-index: 0;
  
}
.heading-2 span {
 
  padding: 0 5px;
  position: relative;
  z-index: 1;
}


/*
PAGE2 - ABOUT
*/
.intro-about{
	.size;
}

.post{
	padding-top:10%;
}
.post-info{
	padding-top:15%;
	padding-bottom:15%
}

.intro-about .container{
	.size;
}
.intro-about > .container > .row{
	margin:0;
	display:flex;
	justify-content:center;
	align-items:center;
	width:auto;
	height:100%;
}

.small-line{
	border:1px solid white;
	width:10%;

}
.about-header{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	text-align:center;
}
.about-header h2{
	font-family:'Open Sans', sans-serif;
	color:@white-color;
	font-size:2rem;
	line-height:50px;
}
.top-left {
    position: absolute;
    top: -0.5em;
    left: 25%;
    color:@white-color;
    font-size:4rem;
    font-family: 'Arvo', serif;
}
.top-right {
    position: absolute;
    top:-0.5em;
    right:25%;
    color:@white-color;
    font-size:4rem;
    font-family: 'Arvo', serif;
}


.fa-quote-right{
	font-size:3em;
	color:@white-color;
}

.about-work h4{
	font-family: 'Arvo', serif;
	font-size:1rem;
	color:@white-color;
}
.about-work h5{
	font-family: 'Open Sans', sans-serif;
	font-size:0.7rem;
	font-weight:bold;
	color:@white-color;
}
.about-work p{
	font-family: 'Open Sans', sans-serif;
	font-size:0.7rem;
	font-weight:lighter;
	color:#757575;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}


 @media only screen and (max-width:480px) {
 	.about-us .container{
	width:100%;
}
	.sign-up .container{
	width:100%;
}
.overlay-text h1{
	
	font-size:70px;
}
.works-text {
   
    width: 100%;
}
    }


@media only screen and (max-device-width:1000px){
	.navbar{
		display:none;
	}
	.sidenav{
		display:block;
	}
}